{
  "snmp":{
    "0":{
        "uuid":"uuid0",
        "name":"test snmp device 0",
        "version":"2c",
        "community":"public",
        "ip":["127.0.0.1", 161],
        "oids":["1.3.6.1.2.1.1", "1.3.6.1.2.1.31", "1.3.6.1.4.1.9.9.13.1.3.1.3"],
        "credentials":["", ""],
        "last_checked":"Sat Apr 29 06:49:49 PM UTC 2023",
        "status":"available"
    },
    "1":{
        "uuid":"uuid1",
        "name":"test snmp device 1",
        "version":"2c",
        "community":"public",
        "ip":["172.16.0.3", 161],
        "oids":["1.3.6.1.2.1.1.1", "1.3.6.1.2.1.31", "1.3.6.1.4.1.9.9.13.1.3.1.3"],
        "credentials":["", ""],
        "last_checked":"Sat Apr 30 06:49:49 PM UTC 2023",
        "status":"available"
    },
    "2":{
        "uuid":"uuid2",
        "name":"test snmp device 2",
        "version":"2c",
        "community":"public",
        "ip":["172.16.0.4", 161],
        "oids":["1.3.6.1.2.1.1.2", "1.3.6.1.2.1.31", "1.3.6.1.4.1.9.9.13.1.3.1.3"],
        "credentials":["", ""],
        "last_checked":"Sat Apr 29 06:40:49 PM UTC 2023",
        "status":"available"
    },
    "3":{
        "uuid":"uuid3",
        "name":"test snmp device 3",
        "version":"2c",
        "community":"public",
        "ip":["127.0.0.1", 161],
        "oids":["1.3.6.1.2.1.1.1", "1.3.6.1.2.1.31", "1.3.6.1.4.1.9.9.13.1.3.1.3"],
        "credentials":["", ""],
        "last_checked":"Sat Apr 29 07:49:49 PM UTC 2023",
        "status":"available"
    }
  }
}
